@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Serif", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@media (min-width: 276px) and (min-width: 924px) {
  .form {
    width: 80%;
  }
  .nav-item {
    font-size: 12px;
    font-weight: 300;
  }
}
